<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../styles/about.css">
    <title>Quem Somos</title>
  </head>
  <body>
    <div class="background">
      <div class="card">
        <img src="../images/unisalesiano-logo.png">
        <h2 class="about">Quem somos</h2>
        <p class="text">O UniSALESIANO é o Centro Universitário Católico Salesiano Auxilium, uma instituição de ensino superior católica com sede em Lins e Araçatuba, São Paulo. A instituição tem como missão formar cidadãos éticos, cristãos e salesianos, por meio da produção e difusão de conhecimento e cultura. </p>
      </div>
    </div>
  </body>
</html>