#toast-box {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  padding: 20px; 
  top: 0;
  z-index: 2;
}

.hidden {
  display: none;
}